{% extends "base.html" %}

{% block title %}
    Tatuagens - Silverio Tattoo.ink
{% endblock %}

{% block content %}

<section class="tatuagens-page">

    <div class="titulo-pagina">

        <h1>
            Nossos trabalhos
        </h1>

        <p>
            Confira algumas das tatuagens realizadas
            pelo Silverio Tattoo.ink.
        </p>

    </div>


    {% if tatuagens %}

        <div class="tatuagens-grid">

            {% for tatuagem in tatuagens %}

                <article class="tatuagem-card">

                    {% if tatuagem.imagem %}

                        <img
                            src="{{ url_for('static', filename='img/' ~ tatuagem.imagem) }}"
                            alt="{{ tatuagem.nome }}"
                        >

                    {% else %}

                        <div class="sem-imagem">
                            <i class="fa-solid fa-image"></i>
                        </div>

                    {% endif %}


                    <div class="tatuagem-info">

                        <h2>{{ tatuagem.nome }}</h2>

                        {% if tatuagem.descricao %}
                            <p>{{ tatuagem.descricao }}</p>
                        {% endif %}

                        <span class="categoria">
                            R$ {{ '%.2f'|format(tatuagem.preco)|replace('.', ',') }}
                        </span>

                        <span class="categoria">
                            {{ tatuagem.tamanho }} cm
                        </span>

                        <a href="{{ url_for('listar_avaliacoes', id_tatuagem=tatuagem.id) }}" class="btn">
                            Avaliações
                        </a>

                       <a href="{{ url_for('detalhe_tatuagem', id_tatuagem=tatuagem.id) }}" class="btn secundario">
                        Ver detalhes
                        </a>
                        {% if session.get('is_admin') %}
                     <form action="{{ url_for('excluir_tatuagem', id_tatuagem=tatuagem.id) }}"
                     method="post"
                        onsubmit="return confirm('Excluir esta tatuagem? Essa ação não pode ser desfeita.');">
                     <button type="submit" class="btn secundario">Excluir</button>
                     </form>
{% endif %}
                    </div>

                </article>

            {% endfor %}

        </div>

    {% else %}

        <div class="nenhuma-tatuagem">

            <i class="fa-solid fa-pen-nib"></i>

            <h2>
                Nenhuma tatuagem cadastrada
            </h2>

            <p>
                Em breve teremos novos trabalhos para você conferir.
            </p>

        </div>

    {% endif %}

</section>

{% endblock %}